<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
 <title> Arifzyn API || ADMIN DASHBOARD </title>
 <link rel="icon" href="images/icon.png" type="image/png">
 <link rel="stylesheet" href="css/bootstrap.min.css">
 <link rel="stylesheet" href="css/style.css">
 <link rel="stylesheet" href="css/dark.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 <style>
  .hidden {
   display: none;
  }

  .btn-outline-secondary {
   background-color: #343a40;
   color: #ffffff;
  }
 </style>
</head>

<body class="dark-mode">
 <div class="main-wrapper">
  <div class="main-content">
  <% if (message.error) { %>
    <div class="alert alert-danger">
      <%= message.error %>
    </div>
  <% } %>
  
  <% if (message.success) { %>
    <div class="alert alert-success">
      <%= message.success %>
    </div>
  <% } %>
   <section class="section">
    <div class="section-body">
     <div class="row">
      <div class="col-lg-4">
       <div class="card" id="homeadmin">
        <div class="card-body">
         <h5 class="text-center mb-4">Home Admin</h5>
         <div class="text-center">
          <a href="#" class="btn btn-outline-secondary text-uppercase btn-block mx-auto" onclick="showCard('addprem')">Add Premium</a>
          <a href="#" class="btn btn-outline-secondary text-uppercase btn-block mx-auto" onclick="showCard('delprem')">Delete Premium</a>
          <a href="#" class="btn btn-outline-secondary text-uppercase btn-block mx-auto" onclick="showCard('listprem')">List Premium</a>
         </div>
        </div>
       </div>
       <div class="card hidden" id="addprem">
        <a href="#" class="btn btn-transparent position-absolute start-0 top-0 mt-3 ms-3" onclick="showCard('homeadmin')">
         <i class="fas fa-arrow-left"></i>
        </a>
        <div class="card-body">
         <h5 class="text-center mb-3">ADD PREMIUM</h5>
         <form action="/admin/premium/add" method="POST">
          <div class="form-group text-center">
           <label for="username" class="form-label text-white">USER NAME</label>
           <input type="text" name="username" class="form-control" id="username" required placeholder="Masukkan User Name">
          </div>
          <div class="form-group text-center">
           <label for="days" class="form-label text-white">Number of days</label>
           <input type="text" name="days" class="form-control" id="days" required placeholder="Masukkan Jumlah Hari">
          </div>
          <div class="form-group text-center">
           <label for="token" class="form-label text-white">Token</label>
           <input type="text" name="token" class="form-control" id="token" required placeholder="Masukkan Token">
          </div>
          <div class="form-group text-center">
           <button type="submit" class="btn btn-outline-secondary text-uppercase btn-block mx-auto">Submit</button>
          </div>
         </form>
        </div>
       </div>
       <div class="card hidden" id="delprem">
        <a href="#" class="btn btn-transparent position-absolute start-0 top-0 mt-3 ms-3" onclick="showCard('homeadmin')">
         <i class="fas fa-arrow-left"></i>
        </a>
        <div class="card-body">
         <h5 class="text-center mb-3">DELETE PREMIUM</h5>
        </div>
       </div>
       <div class="card hidden" id="listprem">
        <a href="#" class="btn btn-transparent position-absolute start-0 top-0 mt-3 ms-3" onclick="showCard('homeadmin')">
         <i class="fas fa-arrow-left"></i>
        </a>
        <div class="card-body">
         <h5 class="text-center mb-3">LIST PREMIUM</h5>
         <ul>
         <div id="listprems"></div>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
  </div>
 </div>
 </section>
 </div>
 </div>
 <script>
  function showCard(cardId) {
   // Sembunyikan semua card
   var cards = document.querySelectorAll('.card');
   cards.forEach(function(card) {
    card.classList.add('hidden');
   });

   // Tampilkan card yang sesuai dengan ID yang diberikan
   var selectedCard = document.getElementById(cardId);
   if (selectedCard) {
    selectedCard.classList.remove('hidden');
   }
  }
 </script>
 <script>
  let txt = '';
  fetch("/admin/listprem")
    .then(response => response.json())
    .then(data => {
      data.forEach((x, i) => {
        txt += `<li>${i + 1}. ${x.name}</li>\n`;
        txt += `<li>${x.expired == 0 ? "No Expired" : timer(x.expired)}</li>\n`; 
      });
      document.getElementById('listprems').innerHTML = `<ul>${txt}</ul>`;
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
    function timer(milliseconds) {
  const days = Math.floor(milliseconds / (24 * 60 * 60 * 1000));
  const hours = Math.floor((milliseconds % (24 * 60 * 60 * 1000)) / (60 * 60 * 1000));
  const minutes = Math.floor((milliseconds % (60 * 60 * 1000)) / (60 * 1000));
  const seconds = Math.floor((milliseconds % (60 * 1000)) / 1000);

  return `${days} day ${hours} hour ${minutes} minute ${seconds} second`;
}
 </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="modules/bootstrap.min.js"></script>
 <script src="modules/jquery.nicescroll.min.js"></script>
 <script src="js/stisla.js"></script>
 <script src="js/scripts.js"></script>
</body>

</html>