<!DOCTYPE html>
<html>

<head>
 <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5.9.0/swagger-ui.css">
 <link rel="shortcut icon" href="https://fastapi.tiangolo.com/img/favicon.png">
 <title>Arifzyn - Documentation API - Swagger UI</title>
</head>

<body>
 <div id="swagger-ui">
 </div>
 <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5.9.0/swagger-ui-bundle.js" type="f8e2afa9cd907fd74b366c61-text/javascript"></script>

 <script type="f8e2afa9cd907fd74b366c61-text/javascript">
  const ui = SwaggerUIBundle({
   url: '/spec.json',
   "dom_id": "#swagger-ui",
   "layout": "BaseLayout",
   "deepLinking": true,
   "showExtensions": true,
   "showCommonExtensions": true,
   "tagsSorter": "alpha",
   "persistAuthorization": true,
   "displayRequestDuration": true,
   oauth2RedirectUrl: window.location.origin + '/auth/login',
   presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
  })
 </script>
 <script src="js/rocket-loader.min.js" data-cf-settings="f8e2afa9cd907fd74b366c61-|49" defer></script>
</body>

</html>
