<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
 <meta name="description" content="Arifzyn API adalah platform REST API yang handal dan mudah digunakan. Dengan antarmuka yang intuitif, pengguna dapat mengakses dan mengintegrasikan berbagai sumber daya data dengan mudah.">
 <meta property="og:image" content="https://telegra.ph/file/be7f704ea601970402705.jpg">
 <meta name="keywords" content="Arifzyn,ArifzynXD,ArifzynAPI,Arifzyn XD,Arifzyn API" />
 <meta content="Halo. Nama Saya Arif, Terima Kasih Telah Mengunjungi situs/web API ini" name="description" />
 <title><%= title %> || Home</title>
 <meta property="og:title" content="Arifzyn API - ArifzynXD" />
 <meta property="og:image" content="https://telegra.ph/file/be7f704ea601970402705.jpg" />
 <meta property="og:site_name" content="Arifzyn API - ArifzynXD" />
 <meta property="og:type" content="website" />
 <link rel="icon" href="images/icon.png" type="image/png">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
 <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
 <link rel="stylesheet" href="css/home.css">
</head>

<body>
 
 <nav>
  <div class="nav-bar">
   <i class='bx bx-menu sidebarOpen'></i>
   <span class="logo navLogo"><a href="#"><%= title %></a></span>
   <div class="menu">
    <div class="logo-toggle">
     <span class="logo"><a href="#"><%= title %></a></span>
     <i class='bx bx-x siderbarClose'></i>
    </div>
    <ul class="nav-links">
     <li><a href="/">Home</a></li>
     <li><a href="/docs">Docs</a></li>
     <li><a href="#pricing">Pricing</a></li>
     <li><a href="#contact">Contact</a></li>
    </ul>
   </div>
  </div>
 </nav>

 <header class="container">
  <div class="content">
   <span class="blur"></span>
   <span class="blur"></span>
   <H1>Hi, Welcome To <span>Arifzyn</span> API.</H1>
   <p>
    Arifzyn API, is a free fire rest that provides various features, use it well.
   </p>
   <a href="#pricing" class="btn">Get Started</a>
  </div>
  <div class="image">
   <img src="https://raw.githubusercontent.com/AsmrProg-YT/Personal-Portfolios/master/Personal%20Portfolio%20%2301/images/header.png">
  </div>
 </header>

 <section class="container">
  <h2 class="header">OUR INFO</h2>
  <div class="features">
   <div class="card">
    <span><i class="ri-money-dollar-box-line"></i></span>
    <h4>Total Feature</h4>
    <p>
      50+ Feature, on API
    </p>
    <a href="/dashboard">Join Now <i class="ri-arrow-right-line"></i></a>
   </div>
   <div class="card">
    <span><i class="ri-bug-line"></i></span>
    <h4>Fix Your Bugs</h4>
    <p>
     You have any problem in your codes? Tell me, i will help you fix it.
    </p>
    <a href="/dashboard">Join Now <i class="ri-arrow-right-line"></i></a>
   </div>
  </div>
 </section>

 <section class="container" id="pricing">
  <h2 class="header">API PRICING PLANS</h2>
  <p class="sub-header">
   It's still free, please use it well.
  </p>
  <div class="pricing">
   <div class="card">
    <div class="content">
     <h4>Free Plan</h4>
     <h3>Rp. 0.00</h3>
     <p><i class="ri-checkbox-circle-line"></i>
      25 Limit / Days
     </p>
     <p><i class="ri-close-circle-line"></i>
      Premium
     </p>
     <p><i class="ri-close-circle-line"></i>
      Unlimited Limit
     </p>
     <p><i class="ri-close-circle-line"></i>
      Costum Apikey 
     </p>
    </div>
    <button class="btn" onclick="window.location.href='/auth/login'">Get Started</button>
   </div>
  </div> 
  <div class="pricing">
   <div class="card">
    <div class="content">
     <h4>Basic Plan</h4>
     <h3>Rp. 10.000.00</h3>
     <p><i class="ri-checkbox-circle-line"></i>
      Premium
     </p>
     <p><i class="ri-checkbox-circle-line"></i>
      Unlimited Limit
     </p>
     <p><i class="ri-checkbox-circle-line"></i>
      Costum Apikey 
     </p>
     <p><i class="ri-checkbox-circle-line"></i>
      Expired 1 Month
     </p>
    </div>
    <button class="btn" onclick="window.location.href='https://wa.me/62895347198105?text=Order%20Apikey%20Basic%20Plan'">Get Started</button>
   </div>
  </div>
  <div class="pricing">
   <div class="card">
    <div class="content">
     <h4>Standard Plan</h4>
     <h3>Rp. 20.000.00</h3>
     <p><i class="ri-checkbox-circle-line"></i>
      Premium
     </p>
     <p><i class="ri-checkbox-circle-line"></i>
      Unlimited Limit
     </p>
     <p><i class="ri-checkbox-circle-line"></i>
      Costum Apikey 
     </p>
     <p><i class="ri-checkbox-circle-line"></i>
      Expired 2 Month
     </p>
    </div>
    <button class="btn" onclick="window.location.href='https://wa.me/62895347198105/arifzxa19?text=Order%20Apikey%20Standard%20Plan'">Get Started</button>
   </div>
  </div>
 </section>

 <footer class="container" id="contact">
  <span class="blur"></span>
  <span class="blur"></span>
  <div class="column">
   <div class="logo">
    <img src="images/icon.png">
   </div>
   <p>
    ......
   </p>
   <div class="socials">
    <a href="https://youtube.com/@arifzxa19"><i class="ri-youtube-line"></i></a>
    <a href="https://tiktok.com/@arifzxa1912"><i class="ri-tiktok-line"></i></a>
    <a href="https://t.me/arifzxa19"><i class="ri-telegram-line"></i></a>
   </div>
  </div>
 </footer>

 <div class="copyright">
  <%= footer %> All Rights Reserved.
 </div>

 <script src="js/script.js"></script>
</body>

</html>