<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="#"><strong> Arifzyn API </strong></a>
    </div>
    <ul class="sidebar-menu">
      <div class="p-3 hide-sidebar-mini">
        <a href="/dashboard" class="btn btn-primary btn-lg btn-block btn-icon-split"> <i class="fas fa-home"></i> Dashboard </a>
      </div>
      <div class="sidebar-brand">
        <span>API FEATURE</span>
      </div>
      <li>
         <a class="nav-link collapsed" href="/feature/anime">
          <i class="fas fa-ghost"></i>
          <span class="text-above-icon">Anime</span>
        </a>
        <a class="nav-link collapsed" href="/feature/ai">
          <i class="fas fa-robot"></i>
          <span class="text-above-icon">Artificial Intelligence</span>
        </a>
         <a class="nav-link collapsed" href="/feature/download">
          <i class="fas fa-download"></i>
          <span class="text-above-icon">Download</span>
        </a>
        <a class="nav-link collapsed" href="/feature/stalker">
          <i class="fas fa-eye"></i>
          <span class="text-above-icon">Stalker</span>
        </a>
        <a class="nav-link collapsed" href="/feature/search">
          <i class="fas fa-search"></i>
          <span class="text-above-icon">Search</span>
        </a>
      </li>
    </ul>
  </aside>
</div>