    <div class="deznav">
      <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
          <li>
            <a class="" href="/dashboard" aria-expanded="false">
              <i class="flaticon-381-networking"></i>
              <span class="nav-text">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
              <i class="fas fa-search"></i>
              <span class="nav-text">Feature</span>
            </a>
            <ul aria-expanded="false">
              <li><a href="/feature/anime"><i class="fas fa-ghost"></i> Anime</a></li>
              <li><a href="/feature/ai"><i class="fas fa-robot"></i> Artificial Intelligence</a></li>
              <li><a href="/feature/download"><i class="fas fa-download"></i> Download</a></li>
              <li><a href="/feature/stalker"><i class="fas fa-eye"></i> Stalker</a></li>
              <li><a href="/feature/search"><i class="fas fa-search"></i> Search</a></li>
            </ul>
          </li>
        </ul>
        <div class="copyright">
          <p><strong>Arifzyn API</strong> © 2023 All Rights Reserved</p>
          <p>Made with <span class="heart"></span> By Arifzyn.</p>
        </div>
      </div>
    </div>